.DS_Store
node_modules
/dist
venv

# local env files
.env.local
.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?


.ipynb_checkpoints
__pycache__
**/notebooks/archive
**/notebooks/py
**/notebooks/html

# Data files
# *.pkl

# Video-specific
src/docker-meal-demand-forecasting/**/*.csv
src/docker-meal-demand-forecasting/**/*.pkl
src/ml-engineer-starter-pack/4b-dask/**/*.csv
src/ml-engineer-starter-pack/11*/**/*.csv
src/ml-engineer-starter-pack/**/*.json
src/ml-engineer-starter-pack/**/*.pkl
src/multimodal-embeddings/notebooks/src/dev*.ipynb
src/multimodal-embeddings/data
src/multimodal-embeddings/models
src/multimodal-embeddings/outputs
src/multimodal-embeddings/venv*
src/multimodal-embeddings/**/*.pkl
